<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Artical</title>
</head>
<body>
    <div><h1>News updates</h1></div>
    <div class="body">     
        {{articles.totalResults}}
        
        {%for article in articles %}    
            <li>{{article.author}}</li>
            <li>{{article.title}}</li>
            <li>{{article.description}}</li>
            <a href={{article.url}}> link</a>
            <li>{{article.content}}</li>
<br/>
<br/>
<br/>
<br/>
        {%endfor%}
    </div>
</body>
</html>